body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-align: center;
}

.centered {
    margin: 0 auto;
}

input, select {
    width: 100%;;
}

h1, h2 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: darkgrey;
}

h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding-top: 0.5em;
}

hr.darker {
    border-top: 1px solid rgba(0,0,0,0.2);
    margin: 1em 0;
}

hr.statement {
    border-top: 1px solid rgba(0,0,0,0.2);
}

input[type="submit"]{
    margin: 3em 0;
}

.header {
    font-weight: bolder;
    text-transform: uppercase;
}

@media print {
	.nonprintable {
	    display: none;
	}
}

.nonprintable {
    padding: 3em 0 0 0;
}

button {
    margin: 1em 0 !important;
}

.text-centered {
    text-align: center;
}